.router-link-exact-active{
    background: #34373d;
    color: #bfc1c4;;
    border-left: 2px solid #9055A2
}
.router-link-exact-active i{
    color: #9055A2;
}

.page-content {
    padding: 0px;
    width: calc(100%);
}

nav#sidebar {
    width: 260px;
}

.table-responsive{
    overflow-x: hidden;
}

.block {
    padding: 15px;
    margin-top: 15px;
}

.page-header{
    padding: 20px 0px;
}

a[aria-expanded="true"]{
    border-left: 2px solid #9055A2;
  }

  a[aria-expanded="true"] i{
    color: #9055A2;
  }

  .card{
    margin-bottom: 0px;

  }
  .wizard-container {
    padding-top: 0px;
  }